@page
@model BillardHazard.Pages.IndexModel

@{
    ViewData["Title"] = "Billard Hazard";
}

<form method="post">
    <div class="container">
        <p>Choisissez des noms d'équipe et cliquez sur la boule de la couleur de l'équipe qui commence la partie</p>
        <div class="row">
            <div class="col-xl">
                <div>
                    <input placeholder="Nom de l'équipe jaune" required name="yellowTeamName" type="text" autofocus onfocus="this.select()" />
                </div>
                <div>
                    <section class="stage square-300 pointer" id="yellowBallSection" title="Sélectionner l'équipe Jaune (Flèche gauche)">
                        <figure class="ball yellowBall">
                            <span class="shadow"></span>
                        </figure>
                    </section>
                </div>
            </div>
            <div class="col-xl">
                <div>
                    <input asp-for="RedTeamName" placeholder="Nom de l'équipe rouge" />
                </div>
                <div>
                    <section class="stage square-300 pointer" id="redBallSection" title="Sélectionner l'équipe Rouge (Flèche droite)">
                        <figure class="ball redBall">
                            <span class="shadow"></span>
                        </figure>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <input type="radio" asp-for="IsYellowFirst" id="yellowTeamFirst" value="true" required hidden />
    <input type="radio" asp-for="IsYellowFirst" id="redTeamFirst" value="false" required hidden />

    <button id="btnSubmit" type="submit" class="btn btn-dark btn-lg" title="Commencer la partie (Entrée)">GO</button>
</form>

<script src="~/js/home.js" asp-append-version="true"></script>


