@page
@model BillardHazard.Pages.HighScores.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HighScore</h4>
<hr />
<div class="row bg-white">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HighScore.TeamName" class="control-label"></label>
                <input asp-for="HighScore.TeamName" class="form-control" />
                <span asp-validation-for="HighScore.TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighScore.Score" class="control-label"></label>
                <input asp-for="HighScore.Score" class="form-control" />
                <span asp-validation-for="HighScore.Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
