html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    text-align: center;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*************/
/* Page Défi*/
/***********/
.challengeNotValidate::before {
    content: "\274C";
}

.challengeValidate::before {
    content: "\2714";
    color: forestgreen;
}

#challengeState, #nextTeamTurn, #oneMoreTurn, #btnGo {
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
}

#oneMoreTurn::before {
    content: "\21BB";
}

#nextTeamTurn::before {
    content: "\21B7";
}

#btnGo {
    font-size: 3rem;
}

:root{
    --dice: "\2682";
}

#btnGo:before {
    content: var(--dice);
}

#display {
    font-size: 2rem;
    border: 2px solid;
    border-radius: 16px;
}

.pointer {
    cursor: pointer;
}