html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.bg-greendark {
    background-color: #308b16;
}

body {
    margin-bottom: 60px;
    text-align: center;
    background-color: #308b16;
    color: white;
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: url(../img/bg.jpg);
}

a {
    /*
    color: black;
    */
}

    a:hover {
        /*
    color: #2d3e57; 
            */
}

/******************/
/* Footer Header */
/****************/

.border-top-black {
    border-top: 2px solid black;
}

.border-bottom-black {
    border-bottom: 2px solid black;
}

/*******************/
/* Manage account */
/*****************/

.manage-nav-pills .nav-link.active, .manage-nav-pills .show > .nav-link {
    background-color: black !important;
}

.manage-nav-pills .nav-link {
    color: white !important;
}

.manage-nav-pills .nav-link:focus, .manage-nav-pills .nav-link:hover {
    color: #bebebf !important;
}

/*************/
/* Page Défi*/
/***********/
#challengeStateDescritption {
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: #212529 !important;
    border-color: #212529;
    color: white;
}

#challengeStateDescritption:hover {
    background-color: #1c1f23 !important;
    border-color: #1a1e21;
}

#btnEndGame{
    font-size: 2rem;
}

.challengeNotValidate::before {
    content: "\274C";
}

.challengeValidate::before {
    content: "\2714";
    color: forestgreen;
}

#challengeState, #btnDice, #oneMoreTurn button::before, #nextTeamTurn button::before {
    user-select: none;
    cursor: pointer;
}

#challengeState, #display {
    font-size: 2rem;
}

#nextTeamTurn button::before, #oneMoreTurn button::before {
    font-size: 3rem;
}

#btnDice {
    font-size: 4rem;
}

#oneMoreTurn button::before {
    content: "\21BB";
}

#nextTeamTurn button::before {
    content: "\21B7";
}

:root{
    --dice: "\2682";
}

#btnDice::before {
    content: var(--dice);
}

#display {
    border: 2px solid;
    border-radius: 16px;
}

.pointer {
    cursor: pointer;
}

#tableScore td, #tableScore th {
    border: 1px solid;
}

#tableScore {
    min-width: 300px;
}